.#*
*~
*.pyc
*.rc
*.log

build/*
build-stamp
configure-stamp
/debian/*/
/debian/files
*.dsc
*.tar.gz
*.deb
*.changes
*.build
*.upload
*.debhelper.log
*.postinst.debhelper
*.postrm.debhelper
*.prerm.debhelper
*.substvars
pycerberus.egg-info