#!/usr/bin/make -f
# -*- makefile -*-

PACKAGE_NAME=`dpkg-parsechangelog | grep Source | sed s/Source:.//`
BUILD_TIME=`date -R`
PACKAGE_VERSION=`dpkg-parsechangelog | grep Version | sed s/Version:.//`
INFO_DIR=/usr/share/doc/hh-cms

DEB_DH_INSTALLINIT_ARGS = --no-start
include /usr/share/cdbs/1/rules/debhelper.mk

DEB_PYTHON_SYSTEM = pysupport
include /usr/share/cdbs/1/class/python-distutils.mk